@model MHC_Hospital_Redesign.Models.ViewModels.DetailsTemplate

@{
    ViewBag.Title = "View";
}

<a href="/Template/List">Go back</a>
<form action="/Template/Edit/@Model.SelectedTemplate.TemplateId">
    <input style="margin-top: 15px;" type="submit" class="btn btn-info"  value="Update Template" />
</form>
<form action="/Template/DeleteConfirm/@Model.SelectedTemplate.TemplateId">
    <input style="margin-top: 15px;" type="submit" class="btn btn-info" name="TemplateDelete" value="Delete Template" />
</form>

<h2>@Model.SelectedTemplate.TemplateName</h2>
<div>ID: @Model.SelectedTemplate.TemplateId</div>

@{ 
    string imageurl = "/Content/TemplatePics/default.jpg";
    if(Model.SelectedTemplate.TemplateHasPic)
    {
        imageurl = "/Content/TemplatePics/" + Model.SelectedTemplate.TemplateId + "." + Model.SelectedTemplate.TemplatePicExtension;
    }

}

<div><img src="@imageurl" alt="@Model.SelectedTemplate.TemplateName" style="max-width: 500px"</div>