body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* FAQ Section START- Neil */
.faq-category-list-div{
    padding:1em;
    margin:0.5em;
    color:#fff;
    border-radius:5px;
}
.faq-category-list-div a{
    color:#fff;
    text-decoration:none;
}

.faq-category-list-div:hover{
    transform:scale(1.05);
}

.faq-category-heading {
    text-align:center;
    
}
    .faq-category-heading h2 {
        font-weight: bolder;
    }
.faq-category-add-btn-div a{
    float:right;
    
}

.back-up-del-nav ul,.back-up-del-nav li {
    display:flex;
    justify-content: space-around;
    margin-top:1em;

}

.faq-category-relation-list-questions a{
    text-decoration:none;
    font-size:1.5em;
    color:#000;
    font-weight:bold;
}

.faq-category-detail-heading-div{
    text-align:center;
    
}
.faq-category-detail-heading-div h2 {
    font-weight: bold;
}



/* FAQ Section END- Neil */


