body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-inverse {
    background-color: #2277a5;
    color: #fff;
}
.navbar-inverse .navbar-brand{
    color:#fff;
}

.navbar-inverse .navbar-nav > li > a{
    color:#fff;
}
.jumbotron{
    background-image:url("/Content/images/mhc.jpg");
    background-size:cover;

}

.banner-heading{
    background:#fff;
    opacity:0.8;
    padding:0.5em;
}
.banner-heading h1, .banner-heading p {
    opacity:1;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* FAQ Section START- Neil */
.faq-category-form-div{
    margin-bottom:3em;
}
.faq-category-list-div{
    padding:1em;
    margin:0.5em;
    color:#fff;
    border-radius:5px;
}

.faq-category-list-div a{
    color:#fff;
    text-decoration:none;
}

.faq-category-list-div:hover{
    transform:scale(1.05);
}

.faq-category-heading, .faq-list-heading {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    border-bottom: 2px solid #2277a5;
    margin-bottom: 2em;
    padding: 2em;
    font-weight: bolder;
}
    .faq-category-heading h2, .faq-list-heading  h2{
        font-weight: bolder;
    }
.faq-category-add-btn-div a{
    float:right;
    
}

.back-up-del-nav ul,.back-up-del-nav li {
    display:flex;
    justify-content: space-around;
    margin-top:1em;

}
.faq-category-relation-list-questions{
    background-color:cadetblue;
    padding:1em;
}

.faq-category-relation-list-questions a {
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}

.faq-category-detail-heading-div {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}
.faq-category-detail-heading-div h2 {
    font-weight: bold;
}

.faq-list-div{
    margin-bottom:1em;
    font-size:0.7em;
}

.faq-create-update-form-label label{
    width:100px;
    padding:0.4em;
}

/* FAQ Section END- Neil */

/*Ecard styles - Justin*/

.ecard-img-container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
   
}

.ecard-img-container h3{
    text-align: center;
}

.ecard-img-container img{
    max-width: 500px;
}

.ecard-flex-container{
    display: flex;
    justify-content: space-between;
}

.ecard-container h2{
    text-align: center;
}


