@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <div class="banner-heading">
        <h1>MHC Hospital(Educational Learning Project,Not a real Hospital Website)</h1>
        <p class="lead">Passion, Respect , Love.</p>
        <p></p> To contribute to the health and well being of all who come to us in need</p>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>COVID-19 Testing</h2>
        <p>
            Testing for COVID-19 is based on a clinical assessment of each person. The priority as a health system is for testing to inform clinical and public health management.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mindemoya Emergency Department Expansion Project</h2>
        <p>WE NEED YOUR HELP with our LET’S EMERG TOGETHER campaign.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Supporting Cultural Diversity</h2>
        <p>
            We have made a difference to patient care on Manitoulin. Together, we’ve standardized care practices around wound care and IV therapy, for example. We’ve improved care processes such as e-referrals between local care providers and, with our Physiotherapy Partner, we’ve expanded those services right here, at home.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>