
@{
    ViewBag.Title = "New";
}

<a href="/Listing/List">List</a>

<h2>Create Listing</h2>

<form action="/Listing/Create" method="POST">
    <div>
        <label for="ListTitle">Title:</label>
        <input type="text" name="ListTitle" />
    </div>
    <div>
        <label for="ListDate">Date:</label>
        <input type="text" name="ListDate" />
    </div>
    <div>
        <label for="ListLocation">Location:</label>
        <input type="text" name="ListLocation" />
    </div>
    <div>
        <label for="ListDescription">Description:</label>
        <textarea name="ListDescription"></textarea>
    </div>
    <div>
        <label for="ListRequirements">Requirements:</label>
        <textarea name="ListRequirements"></textarea>
    </div>
    <div>
        <input type="submit" value="Add Listing" />
    </div>
</form>
