

@{
    ViewBag.Title = "Create";
}

<h2>Create FeedbackCategory</h2>
<form action="/FeedbackCategory/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="FeedbackCategoryName" />
    </div>

    <div>
        <input type="submit" value="Create FeedbackCategory" />

    </div>
</form>

